@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f3ef;
  /* background-image: linear-gradient(
    65.9deg,
    #55e4e0 5.5%,
    #4b44e0bd 54.2%,
    #40c6ee 55.2%,
    #b124e0 98.4%
  ); */
  font-weight: 400;
}

main {
  background: #161b27;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

ul,
ol {
  list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

h4 {
  color: #161b27;
}

img,
video {
  display: block;
  max-width: 100%;
}

.btn-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  background-color: #f4f3ef;
  border-radius: 20px;
  border: 1px solid #92928f;
  color: #161b27;
  font-size: 30px;
  cursor: pointer;
  padding-top: 5px;
  z-index: 2;
}

.btn-to-top:hover {
  background-color: #161b27;
  color: #ffcb00;
  transition: 0.2s;
}

.btn-nav {
  padding: 10px 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  outline: none;
}

.btn-download {
  padding: 10px 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  font-size: 20px;
  outline: none;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.DownloadCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  padding-bottom: 5rem;
  font-size: 40px;
}

.NavBtn {
  /* background: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%); */
  background-color: #f4f3ef;
  border-radius: 10px;
  border-width: 2px;
  /* box-shadow: #4e4e4e 0px 0px 10px; */
  color: #161b27;
}

.NavBtn:hover {
  /* background: linear-gradient(45deg, #2bff88 0%, #2bd2ff 52%, #fa8bff 90%); */
  background-color: #ffcb00;
  color: #161b27;
}

.BackBtn {
  background: #f4f3ef;
  border-radius: 10px;
  color: #161b27;
}

.BackBtn:hover {
  background: #ffcb00;
  color: #161b27;
}

.btn {
  border: 2px solid #070707;
  padding: 10px 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  outline: none;
}

.PrimaryBtn {
  background: #161b27;
  border-color: #161b27;
  color: #f4f3ef;
}

.PrimaryBtn:hover {
  background: #ffcb00;
  color: #161b27;
}

.SecondarBtn {
  background: transparent;
  border-color: #161b27;
  color: #161b27;
}

.SecondarBtn:hover {
  background: #161b27;
  color: #f4f3ef;
}

.btn2 {
  margin-right: 1rem;
}

.Container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.BigCard {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 5rem;
  padding-left: 5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: #e7e7e7 0px 0px 20px;
}
.BigCardSkills {
  padding-top: 3rem;
  padding-bottom: 7rem;
  padding-right: 5rem;
  padding-left: 5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: #e7e7e7 0px 0px 20px;
}

.SkillBio,
.SkillBioCer,
.tagline2 {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 2rem;
  color: #181414;
  line-height: 1.6;
  font-size: 20px;
}

.tagline2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 15px;
}

.SectionTitle {
  font-size: 28px;
  color: #161b27;
  font-weight: 700;
  margin-bottom: 3.5rem;
}
.ProjectWrapper {
  margin-top: -1rem;
}

/* ------------------------------------ Media for Container */
@media (min-width: 576px) {
  .Container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .Container {
    max-width: 720px;
  }
  .ProjectWrapper {
    margin-top: -5rem;
  }
}
@media (min-width: 992px) {
  .Container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .Container {
    max-width: 1000px;
  }
}

@media (max-width: 677px) {
  .BigCard {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .BigCardSkills {
    padding-top: 3rem;
    padding-bottom: 7rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .SkillBioCer {
    font-size: 15px;
  }
}
